body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    color: #fff;
  }
  
  .container {
    display: flex;
    height: 100vh;
    position: relative;
  }
  
  .output-container {
    flex: 1;
    padding: 10px;
  }
  
  #output-display {
    height: 100%;
    background-color: #1e2127;
  }
  
  .editor-container {
    flex: 1;
    padding: 10px;
    width: 50%; /* Set the width to occupy the left half of the webpage */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
  
  .resize-handle {
    width: 10px;
    background-color: #333;
    cursor: ew-resize;
  }
  
  #code-editor {
    width: 100%;
    height: 100%;
  }
  #submit-button {
    position: absolute;
    bottom: 50%;
    right: 10px;
    padding: 10px;
    background-color:green;
    color: #fff;
    border: none;
    cursor: pointer;
  }